[submodule ".registry"]
	path = .registry
	url = https://github.com/erictleung/erictleung.r-universe.dev
	branch = HEAD
[submodule "hp"]
	path = hp
	url = https://github.com/erictleung/hp
[submodule "jwst"]
	path = jwst
	url = https://github.com/erictleung/jwst
[submodule "pixarfilms"]
	path = pixarfilms
	url = https://github.com/erictleung/pixarfilms
[submodule "pyblack"]
	path = pyblack
	url = https://github.com/erictleung/pyblack
[submodule "unnestIfElse"]
	path = unnestIfElse
	url = https://github.com/erictleung/unnestIfElse
